{% extends "urbanjango/layout.html" %}
{% load static %}

{% block body %}
<div class="container my-5">
    
    <div class="row justify-content">
        <div class="col-md-8"> 
            <h2 class="mb-3">Urban Jango</h2>
            <p>This app uses the Urban Dictionary API provided by <a href="https://rapidapi.com/community/api/urban-dictionary" target="_blank">Rapid API</a>.</p>
            <p><a href="https://www.urbandictionary.com/" target="_blank">Urban Dictionary</a> is a crowdsourced online dictionary founded in 1999 by Aaron Peckham for slang words and phrases, now used to define any word or phrase.</p>
            <p>The website receives around 2,000 new submissions daily and contains over 7 million definitions as of 2014.</p>
            <p>Urban Dictionary has been used in legal cases, including a UK High Court case involving rappers and a US District Court complaint for defining the term "murk."</p>
            <p>The site has been criticised for hosting offensive submissions, including racist and sexist content.</p>
            <p>As of 2014, the site had 15 million unique visitors, with 80% of users younger than 25.</p>
            <p>The site's founder, Aaron Peckham, continues to maintain the site independently and has not sought venture funding or an IPO.</p>
            <figure>
                <blockquote class="blockquote">
                  <p>Urban Jango</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  The Urban Dictionary served via Python's Django (<cite title="Source Title">James Flores</cite>)
                </figcaption>
              </figure>
        </div>
    </div>

</div>
{% endblock %}
