{% extends "urbanjango/layout.html" %}
{% load static %}

{% block body %}
<div class="container my-5">
    
    <div class="row justify-content">
        <div class="col-md-8"> 
            <h2 class="mb-3">Urban Jango</h2>
            <form action="{% url 'define' %}" method="get">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="term" id="term" aria-describedby="helpId" placeholder="" autofocus required>
                        <small id="helpId" class="form-text text-muted">Type a slang term and we'll find its definition!</small>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-6">
        </div>
    </div>

</div>
{% endblock %}
