{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Urban Jango{% endblock %}</title>
    <link href="{% static 'urbanjango/style.css' %}" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% block share_title %}Urban Jango{% endblock %}">
    <meta property="og:image" content="{% block share_image %}{% endblock %}"> 
    <meta property="og:description" content="{% block description %}Urban Jango: A Python-powered platform for exploring and understanding urban slang.{% endblock %}">
    <link rel="icon" href="{% static 'urbanjango/images/urbanjango.webp' %}" type="image/webp">
    <link rel="apple-touch-icon" href="{% static 'urbanjango/images/urbanjango.webp' %}">
    {% block script %}
    {% endblock %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YLRWZTKCWG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YLRWZTKCWG');
    </script>
</head>
<body>
    <div class="flex-wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">Urban Jango</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a href="{% url 'about' %}" class="nav-link px-2">About</a></li>
                    </ul>
                    <!--<div class="d-flex">
                        <a href="#" class="btn btn-outline-light me-2">Button</a>
                    </div>-->
                </div>
            </div>
        </nav>

        <div class="container">
            {% block body %}
            {% endblock %}
        </div>

        <footer class="bg-success text-white">
            <div class="container">
                <div class="row py-3">
                    <div class="col-md-6 d-flex align-items-center">
                        <p class="mb-0">Created by <a href="https://jamesflores.net" target="_blank" class="text-white">James Flores</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>